In [1]:
import pandas as pd

In [23]:
oecd_bli = pd.read_csv('BLI_09012023141137140.csv', thousands=',')

gdp_per_capita = pd.read_csv('WEALTH_09012023141206874.csv', encoding='UTF-8',
                             delimiter='\t', thousands=',', na_values='n/a')

In [24]:
gdp_per_capita

     COUNTRY,"Country","VAR","Variable","POPULATION","Population","TIME","Time","Value","Flag Codes","Flags"
0     AUS,"Australia","T3AC2","Mean financial assets...
1     AUS,"Australia","T3AC2","Mean financial assets...
2     AUS,"Australia","T3AC2","Mean financial assets...
3     AUS,"Australia","T3AC3","Mean liabilities per ...
4     AUS,"Australia","T3AC3","Mean liabilities per ...
...                                                 ...
1517  LTU,"Lithuania","T6AC2","Share of individuals ...
1518  LTU,"Lithuania","T6AC3","Share of individuals ...
1519  LTU,"Lithuania","T6AC6","Share of individuals ...
1520  LTU,"Lithuania","T6AC7","Share of individuals ...
1521  LTU,"Lithuania","SB40","Share of bottom 40% of...

[1522 rows x 1 columns]